name: Lint and test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  cache-and-test:
    name: Cache and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node and cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn test
  tsc:
    name: Run tsc
    runs-on: ubuntu-latest
    needs: cache-and-test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn tsc
  linter:
    name: Run linter
    runs-on: ubuntu-latest
    needs: cache-and-test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn lint
  prettier:
    name: Run prettier
    runs-on: ubuntu-latest
    needs: cache-and-test
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: yarn install
      - run: yarn prettier src --check
