name: Publish to TestFlight

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-upload-app:
    name: Build and upload iOS app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn
      - name: Set up Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          expo-cache: true
          token: ${{secrets.EXPO_TOKEN}}
      - run: yarn install
      - run: eas build -p ios --non-interactive
      - run: eas submit -p ios --latest --profile production --non-interactive
        env:
          EXPO_APPLE_PASSWORD: ${{secrets.EXPO_APPLE_PASSWORD}}
